{
  "extends": [
    "stylelint-config-standard",
    "stylelint-prettier"
  ],
  "rules": {
    "declaration-empty-line-before": null,
    "selector-pseudo-class-no-unknown": [
      true,
      {
        "ignorePseudoClasses": ["global"]
      }
    ]
  }
}
